<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="head" th:remove="tag">
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1" ></meta>
    <link th:rel="stylesheet" th:href="@{/webjars/overlayscrollbars/styles/overlayscrollbars.min.css}" ></link>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" ></link>
    <link th:rel="stylesheet" th:href="@{/webjars/select2/dist/css/select2.min.css}" ></link>
    <link th:rel="stylesheet" th:href="@{/webjars/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css}" ></link>
    <link th:rel="stylesheet" th:href="@{/css/adminlte.min.css}"></link>
  </div>
</html>
