<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="head" th:remove="tag">
    <title>Toasts Examples</title>
  </div>

  <div th:fragment="main" th:remove="tag">         
    <!--begin::App Content Header-->
    <div class="app-content-header"> 
      <!--begin::Container-->
      <div class="container-fluid"> 
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">Toasts Examples</h3>
          </div>
        </div> 
        <!--end::Row-->
      </div> 
      <!--end::Container-->
    </div> 
    <!--end::App Content Header-->

    <!--begin::App Content-->
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid">


        <div class="card card-info card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-edit"></i>
              Toasts Examples <small>Thymeleaf and Bootstrap 5.3</small>
            </h3>
          </div>
          <div class="card-body">

            <a th:href="@{/toast/primary}" type="button" class="btn btn-primary">
              Launch Info Toast
            </a>

            <a th:href="@{/toast/success}"  type="button" class="btn btn-success">
              Launch Success Toast
            </a>

            <a th:href="@{/toast/info}"  type="button" class="btn btn-info">
              Launch Info Toast
            </a>

            <a th:href="@{/toast/warning}"  type="button" class="btn btn-warning">
              Launch Warning Toast
            </a>

            <a th:href="@{/toast/danger}"  type="button" class="btn btn-danger">
              Launch Danger Toast
            </a>
          </div>
        </div>
      </div> 
      <!--end::Container-->
    </div> 


    <!--end::App Content-->
  </div> 

  <div th:fragment="scripts" th:remove="tag">
    <!-- start of the end -->
    <div th:if="${toast != null}" th:remove="tag">

      <!-- START: Toast Message -->
      <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header " th:classappend="${toast.classappend}">
            <strong class="me-auto" th:text="${toast.title}">title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body" th:text="${toast.message}">message</div>
        </div>
      </div>
      <!-- END: Toast Message -->

      <script>
        bootstrap.Toast.getOrCreateInstance(document.getElementById('liveToast')).show();
      </script>
    </div>
  </div>

</html>
